<div class="footer">
  <div class="contentWH">
    <div class="footer_content_box">
      <div class="footer_content_left">
        <div class="footer_logo">
          <img
            src="/assets/FOUR STAR ENTERPRISES.png"
            alt="Shenzhen Fuja Machinery Co., Ltd."
          />
        </div>
          
      </div>
      <div class="footer_content_right">
        <div class="footer_content_right_left">
          <div class="footer_content_right_left_title">Contact Us</div>
          <div class="footer_content_right_left_content">
            <h4>FOUR STAR ENTERPRISES</h4>

            <p>
              <span> Tell： </span>
              <a href="javascript:;">+92-4235314563-5</a>
            </p>

            <p>
              <span> Cell： </span>
              <a href="javascript:;">+92-322-4746750 </a>
            </p>

            <p>
              <span> E-mail： </span>
              <a href="javascript:;">enterprisesfourstar20{{"@"}}gmail.com</a>
            </p>

            <p>
              <span> Address： </span>
              J-98 Behind Sui Gas Office, Johar Town,Lahore Pakistan
            </p>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer_last_box">
  <div class="contentWH">
    <div class="footer_last_content">
      <div class="footer_last_content_left">
        © FOUR STAR ENTERPRISES, Ltd.
      </div>
    </div>
  </div>
</div>
