.index_about_content_right video {
    width: 100%;
    height: auto;
    display: block;
}

.pla {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -33%;
}
@media screen and (max-width: 768px) {
    .index_about_content {
        margin-bottom: 25%;
    }
}
.index_about_content_right img {
    width: 50px;
    cursor: pointer;
}