
<div class="slider">
  <div class="slides">
    <div class="slide active">
      <img src="https://scontent.flhe7-2.fna.fbcdn.net/v/t39.30808-6/462683019_3902498330023106_1999398039348232804_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cf85f3&_nc_eui2=AeEpF4Vtg17kLb83lS0Ccn4L2c1uZf_7jdPZzW5l__uN03dmV8YReKsfisaRyHbFmvBHzkW2AiofusM1rB3MDpU6&_nc_ohc=AppBrrUvNdUQ7kNvgHfk_y2&_nc_oc=AdjQhOxFo_Kxt8QD-Evnw6v5ZxvvyE4_V88ppevf5rOgqEKV0xqS2yWE28p_bxkk_oQ&_nc_zt=23&_nc_ht=scontent.flhe7-2.fna&_nc_gid=AWolKGnVWa0axpCr2HkZ5Ud&oh=00_AYA-pvntduBHG-xqI1wE-_rjVRBdf0B2AlxJSWscysRFOg&oe=67B39B5D" alt="Slide 1">
    </div>
    <div class="slide">
      <img src="https://scontent.flhe7-2.fna.fbcdn.net/v/t39.30808-6/462692544_3903447866594819_2004626657064736737_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cf85f3&_nc_eui2=AeEsEMP6dJrV4nNUHc4_G4K_DHrlq-RfTFkMeuWr5F9MWZcrS33veLAWgIR6UOxNLH097sI_L49S0VS69wgKFc2C&_nc_ohc=gtiA0rdb71UQ7kNvgEaI4t6&_nc_oc=AdjlDbZrTqd66lz9juqy_axzPcW-LjAcmGKLLFK9hq6i0Uk86F-MKAxrTs6pGAncCBg&_nc_zt=23&_nc_ht=scontent.flhe7-2.fna&_nc_gid=AFBDMDulRaQxp7eSqaIin_H&oh=00_AYAYELmUZ7QTAwuCZzLTVfZbS5MT2theWfDGtrf4bvXErA&oe=67B38D7D" alt="Slide 2">
    </div>
    <div class="slide">
      <img src="https://scontent.flhe7-2.fna.fbcdn.net/v/t39.30808-6/462546369_3902565996683006_2520240355979877817_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cf85f3&_nc_eui2=AeGCWfeeBWMKwRinVJxJAr3oVr3PNXDHbHdWvc81cMdsd-qcIG8b4mLKqOk-Mvx-uib7iB4BSsajXeRseeCc3Vxn&_nc_ohc=fmIUox7d2OUQ7kNvgEgm-sl&_nc_oc=Adg4ajarMkOARJETklvgezFimd1XiRnyRhuac5cEKPq6_RP12Coka9mqs6syuJwHb0g&_nc_zt=23&_nc_ht=scontent.flhe7-2.fna&_nc_gid=Ab054Aty5EtPYoeAF6j-zT2&oh=00_AYBqz2nd8FXOEONYlscVsjJI-96tSlTtJ3qvOowFbkRmog&oe=67B37C77" alt="Slide 3">
    </div>
  </div>
  <div class="slider-indicators">
    <span class="indicator active" (click)="currentSlide(0)"></span>
    <span class="indicator" (click)="currentSlide(1)"></span>
    <span class="indicator" (click)="currentSlide(2)"></span>
  </div>
</div>