
.slider {
  position: relative;
  max-width: 100%; /* Adjust as needed */
  overflow: hidden; /* Hide overflow */
}

.slides {
  display: flex; /* Align slides in a row */
  transition: transform 0.5s ease; /* Smooth transition */
}

.slide {
  min-width: 100%;
  max-height: auto;
  height: auto; /* Allow height to adjust based on content */
  box-sizing: border-box; /* Include padding and border in width */
  overflow: hidden; /* Hide overflow to maintain layout */
}

.slide img {
  width: 100%; /* Make images responsive */
  height: auto;
}

.slider-indicators {
    position: relative;
    top: -32px;
    text-align: center;
    max-height: 0;
}

.indicator {
  display: inline-block;
  width: 10px; /* Width of indicator */
  height: 10px; /* Height of indicator */
  border-radius: 50%; /* Circular indicators */
  background-color: #bbb; /* Inactive color */
  margin: 0 5px; /* Space between indicators */
  cursor: pointer; /* Pointer cursor on hover */
}

.indicator.active {
  background-color: #717171; /* Active color */
}


