<div class="index_join_box">
    <div class="contentWH">
        
        <ul class="index_join_ul wow slideInUp">
<li>
<div class="index_join_ul_content_ico">
<img alt="" src="https://fujacn.usa18.wondercdn.com/public/static/images/home/en-us/index_join_ico1.png">
</div>

<h4>
Competitive<br>
factory price
</h4>
</li>
<li>
<div class="index_join_ul_content_ico">
<img alt="" src="https://fujacn.usa18.wondercdn.com/public/static/images/home/en-us/index_join_ico2.png">
</div>

<h4>
Double checking<br>
quality control
</h4>
</li>
<li>
<div class="index_join_ul_content_ico">
<img alt="" src="https://fujacn.usa18.wondercdn.com/public/static/images/home/en-us/index_join_ico3.png">
</div>

<h4>
Free aftersale and 24-hour online technical support
</h4>
</li>
<li>
<div class="index_join_ul_content_ico">
<img alt="" src="https://fujacn.usa18.wondercdn.com/public/static/images/home/en-us/index_join_ico4.png">
</div>

<h4>
3 days ready to ship and door-to-door service
</h4>
</li>
</ul>
    </div>
</div>