.index_join_ul_content_ico {
    background-color: rgb(197, 10, 39);
}

.index_join_box {
    background: url("https://scontent.flhe7-2.fna.fbcdn.net/v/t39.30808-6/462692544_3903447866594819_2004626657064736737_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cf85f3&_nc_eui2=AeEsEMP6dJrV4nNUHc4_G4K_DHrlq-RfTFkMeuWr5F9MWZcrS33veLAWgIR6UOxNLH097sI_L49S0VS69wgKFc2C&_nc_ohc=gtiA0rdb71UQ7kNvgEaI4t6&_nc_oc=AdjlDbZrTqd66lz9juqy_axzPcW-LjAcmGKLLFK9hq6i0Uk86F-MKAxrTs6pGAncCBg&_nc_zt=23&_nc_ht=scontent.flhe7-2.fna&_nc_gid=AFBDMDulRaQxp7eSqaIin_H&oh=00_AYAYELmUZ7QTAwuCZzLTVfZbS5MT2theWfDGtrf4bvXErA&oe=67B38D7D");
    background-size: cover;
}