<div class="index_about_number_box">
    <div class="contentWH">
        <ul class="index_about_number_ul">
            <li>
                <div class="index_about_number_ul_left">
                    <img src="https://fujacn.usa18.wondercdn.com/public/static/images/home/en-us/index_about_ico1.png" alt=""/>
                </div>
                <div class="index_about_number_ul_right">
                    <h4><span class="counter">{{this.animatedValues['factoryArea']}}</span> m<sup>2</sup> +</h4>
                    <p>Factory Area</p>
                </div>
            </li>
            <li>
                <div class="index_about_number_ul_left">
                    <img src="https://fujacn.usa18.wondercdn.com/public/static/images/home/en-us/index_about_ico2.png" alt=""/>
                </div>
                <div class="index_about_number_ul_right">
                    <h4>$<span class="counter">{{this.animatedValues['annualSalesRevenue']}}</span></h4>
                    <p>Annual Sales Revenue</p>
                </div>
            </li>
            <li>
                <div class="index_about_number_ul_left">
                    <img src="https://fujacn.usa18.wondercdn.com/public/static/images/home/en-us/index_about_ico3.png" alt=""/>
                </div>
                <div class="index_about_number_ul_right">
                    <h4><span class="counter">{{this.animatedValues['salesCountry']}}</span> +</h4>
                    <p>Sales Country</p>
                </div>
            </li>
            <li>
                <div class="index_about_number_ul_left">
                    <img src="https://fujacn.usa18.wondercdn.com/public/static/images/home/en-us/index_about_ico4.png" alt=""/>
                </div>
                <div class="index_about_number_ul_right">
                    <h4><span class="counter">{{this.animatedValues['serviceTeam']}}</span> +</h4>
                    <p>Service Team</p>
                </div>
            </li>
        </ul>
    </div>
</div>