.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.9s ease;
}

.swiper-slide {
    flex: 0 0 50%;
    min-width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
}